/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* CSS RESET & PROJECT WIDE DEFS */
* {
    margin: 0;
    padding: 0;
    /* Do not add border/padding to total width/height of elements */
    box-sizing: border-box;
}

/* PROJECT WIDE DEFS  */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}
/* END OF CSS RESET & PROJECT WIDE DEFS */

.header {
    height: 95vh;
    /* Gradient always first, can speciffy direction */
    background-image: linear-gradient(
        to right bottom,
        hsla(111, 55%, 64%, 0.8),
        rgba(39, 179, 133, 0.8)), 
         url('../img/hero.jpg');
    /* Attempts to fit image inside element */
    background-size: cover;
    /* Ensures top of img remains at top of el on resize */
    background-position: top;
    /* Work clockwise from top-left; X Y values; use Clippy to generate shapes for this property */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    /* References parent element whose position is relative */
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    /* Specify height and width will be figured out by browser */
    height: 35px;
}

.header-text-box {
    /* In relation to parent element; 
    pushes outside left & top of container to the center of parent*/
    position: absolute;
    top: 40%;
    left: 50%;

    /* In relation to element itself; 
    slides container back a little (left and top) 
    to remain responsive and perfectly center */
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
}

.heading-primary-main {
    /* block takes up 100% width and inserts a line break before and after */
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
}
.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;
}